<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Accessible Trip Planner</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <h1>Accessible Trip Planner</h1>
        </header>
        <form action="/getInformation" method="post">
            <input type="text" name="originStation" required>
            <input type="text" name="destinationStation" required>
            <button type="submit">Lookup Route</button>
        </form>
        <section id="constructionNews" class="borderedSection">
            <h2>South Coast Rail to Taunton, Fall River, and New Bedford seeing substantial progress</h2>
            <img src="img/south-coast-rail.jpg" alt="Current News">
        </section>
        <section id="constructionNotes" class="borderedSection">
            <header>
                <h2>Construction Notes:</h2>
                <p>Lechmere Station to shut down for Green Line Extension.</p>
            </header>
        </section>
        <footer>
            <p>This project is not in any way associated with the MBTA (Massachusetts Bay Transportation Authority), MassDOT, or Keolis.</p>
        </footer>

        <script src='js/script.js'></script>
    </body>
</html>