<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<%- include partials/globalHead.ejs %>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<%- include partials/header.ejs %>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>A Trip Planner Reimagined.</h2>
								<p>
									This trip planner gives details on station accessibility, as well as station construction to give users a 
									fully-accessible route to a train or bus station served by the MBTA Subway or MBTA Commuter Rail.
								</p>
							</header>
						</section>

					<!-- Intro -->
						

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12">

							</div>
							<div class="col-12">

								<!-- Blog -->

							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
				<%- include partials/footer.ejs %>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>