body {
    text-align: center;
}

.borderedSection {
    border: 3px solid black;
}

#constructionNews img {
    width: 50%;
    height: 50%;
}

#routeTransferCheckbox, #mobilityCheckbox, #visibilityCheckbox {
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox;
    -ms-appearance: checkbox;
    appearance: checkbox;
}
